In [4]:
import pandas as pd
import numpy as np
import scipy as sp
# Open graphs in new cells in the page rather than in a separate window
%matplotlib inline 
import matplotlib.pyplot as plt 
plt.rcParams["figure.figsize"] = (15, 5)  # set a default figure size
from sklearn.cluster import KMeans

In [51]:
inputFile = pd.read_csv('answers.csv')

df = inputFile[:-100]

testdf = inputFile[-100:]

In [19]:
print(len(df))

263540

In [6]:
# Look at the first 3 rows
df[:3]

,Unnamed: 0,qid,i,qs,qt,tags,qvc,qac,aid,j,as,at
0,1,563355,62701.0,0,1235000081,"php,error,gd,image-processing",220,2,563372,67183.0,2,1235000501
1,2,563355,62701.0,0,1235000081,"php,error,gd,image-processing",220,2,563374,66554.0,0,1235000551
2,3,563356,15842.0,10,1235000140,"lisp,scheme,subjective,clojure",1047,16,563358,15842.0,3,1235000177

Columns values,
qid: Unique question id

i: User id of questioner

qs: Score of the question

qt: Time of the question (in epoch time)

tags: a comma-separated list of the tags associated with the question. Examples of tags are ``html'', ``R'', ``mysql'', ``python'', and so on; often between two and six tags are used on each question.

qvc: Number of views of this question (at the time of the datadump)

qac: Number of answers for this question (at the time of the datadump)

aid: Unique answer id

j: User id of answerer

as: Score of the answer

at: Time of the answer

In [20]:
df['tags'][:10]

0     php,error,gd,image-processing
1     php,error,gd,image-processing
2    lisp,scheme,subjective,clojure
3    lisp,scheme,subjective,clojure
4    lisp,scheme,subjective,clojure
5    lisp,scheme,subjective,clojure
6    lisp,scheme,subjective,clojure
7    lisp,scheme,subjective,clojure
8    lisp,scheme,subjective,clojure
9    lisp,scheme,subjective,clojure
Name: tags, dtype: object

In [37]:
features =  set()

def feature_selection(data):
    for rows in data:
        for feat in  rows.split(','):
            features.add(feat)

In [38]:
feature_selection(df['tags']) # Get list of all the unique tags in features
print(len(features))

14248

In [39]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf = TfidfVectorizer(norm='l2', vocabulary=list(features))

In [40]:
training_matrix =  tf.fit_transform(df['tags'])
training_feature_names = tf.get_feature_names()

In [55]:
test_matrix =  tf.fit_transform(testdf['tags'])

In [41]:
#print(training_feature_names)

In [42]:
training_matrix[:2]

<2x14248 sparse matrix of type '<class 'numpy.float64'>'
	with 10 stored elements in Compressed Sparse Row format>

In [56]:
X=training_matrix
y = test_matrix

In [49]:
kmeans = KMeans(n_clusters=2, random_state=0).fit(X)

In [57]:
predication = []

predication = kmeans.predict(y)

len(predication)
print(predication)

[0 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]

In [ ]:
print(predication[:100])

In [58]:
print(kmeans.cluster_centers_)

[[  0.00000000e+00   5.34980057e-05   0.00000000e+00 ...,   0.00000000e+00
    0.00000000e+00   0.00000000e+00]
 [  1.47532053e-05   4.05500563e-05   1.39436756e-05 ...,   2.16488316e-06
    1.32145087e-05   2.55975806e-06]]

In [59]:
print(kmeans.inertia_)

254375.98006437733

In [ ]:
f = open('Results/result.dat', 'w')

count = 0
for predictionValue in predication:
    #print(predictionValue)
    f.write(str(predictionValue+1)+'\n')
    count+=1
print("count : ",count)
print("--The End--")