## Linear Regression for predicting time untill a user gets an aswer on StackOverFlow.

In [5]:
#import needed libraries
import matplotlib.pyplot as plt
import numpy as np
import scipy as sp
from sklearn import datasets, linear_model
import pandas as pd

## dataset attributes:

qid: Unique question id

i: User id of questioner

qs: Score of the question

qt: Time of the question (in epoch time)
    
tags: a comma-separated list of the tags associated with the question. Examples of tags are ``html'', ``R'', ``mysql'', ``python'', and so on; often between two and six tags are used on each question.

qvc: Number of views of this question (at the time of the datadump)

qac: Number of answers for this question (at the time of the datadump)

aid: Unique answer id

j: User id of answerer

as: Score of the answer

at: Time of the answer

In [26]:
#Load dataset
answers_X = pd.read_csv('answers.csv')
answers_X[:5]

,Unnamed: 0,qid,i,qs,qt,tags,qvc,qac,aid,j,as,at
0,1,563355,62701.0,0,1235000081,"php,error,gd,image-processing",220,2,563372,67183.0,2,1235000501
1,2,563355,62701.0,0,1235000081,"php,error,gd,image-processing",220,2,563374,66554.0,0,1235000551
2,3,563356,15842.0,10,1235000140,"lisp,scheme,subjective,clojure",1047,16,563358,15842.0,3,1235000177
3,4,563356,15842.0,10,1235000140,"lisp,scheme,subjective,clojure",1047,16,563413,893.0,18,1235001545
4,5,563356,15842.0,10,1235000140,"lisp,scheme,subjective,clojure",1047,16,563454,11649.0,4,1235002457
5,6,563356,15842.0,10,1235000140,"lisp,scheme,subjective,clojure",1047,16,563472,50742.0,6,1235002809
6,7,563356,15842.0,10,1235000140,"lisp,scheme,subjective,clojure",1047,16,563484,8899.0,1,1235003266
7,8,563356,15842.0,10,1235000140,"lisp,scheme,subjective,clojure",1047,16,563635,60190.0,12,1235007817
8,9,563356,15842.0,10,1235000140,"lisp,scheme,subjective,clojure",1047,16,563642,65235.0,1,1235007913
9,10,563356,15842.0,10,1235000140,"lisp,scheme,subjective,clojure",1047,16,564028,32797.0,8,1235020626

In [31]:
print("total length ->")
print(len(answers_X))
print("-----------")
print("last element->")
print(answers_X[::len(answers_X)- 1])

total length ->
263540
-----------
last element->
        Unnamed: 0     qid        i  qs          qt  \
0                1  563355  62701.0   0  1235000081
263539      263540  961459  33584.0   0  1244361919

                                 tags  qvc  qac     aid        j  as  \
0       php,error,gd,image-processing  220    2  563372  67183.0   2
263539                            css    5    1  961462  23590.0   0

                at
0       1235000501
263539  1244362060

In [16]:
#Split data into training and test data
answers_X_train = answers_X[:-20]
answers_X_test = answers_X[-20:]
print('test data first 3 lines:')
print(answers_X_test[:3])

test data first 3 lines:
        Unnamed: 0     qid         i  qs          qt                 tags  \
263520      263521  961389   86751.0   0  1244359049     sql,transactions
263521      263522  961389   86751.0   0  1244359049     sql,transactions
263522      263523  961392  110233.0   0  1244359159  network-programming

        qvc  qac     aid         j  as          at
263520   23    2  961426  109122.0   1  1244360455
263521   23    2  961435   27535.0   1  1244360774
263522   37    4  961397   10307.0   0  1244359518

In [32]:
# Split the targets into training/testing sets
#answers_y_train = answers.target[:-20]
#answers_y_test = answers.target[-20:]